@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=M+PLUS+Rounded+1c&family=Poetsen+One&family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "DM Sans", sans-serif;
}

.splash-container {
  background: linear-gradient(to top right, #000000, #14213d, #7f7f7f);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.splash-content {
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

/* LOGO START*/
.logo {
  width: 100px;
  margin-bottom: 20px;
  color: rgb(226, 195, 15);
}

/* LOGO END */

/* TITLE START */
.title {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(to right, #d4af37, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.tagline {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ca9f14;
}

/* TITLE END */

/* TYPING EFFECT IN TAGLINE */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* @keyframes blink {
  50% {
    border-color: transparent;
  }
} */

.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 3px solid; */
  animation: typing 3s steps(23, end);
  /* blink 0.75s infinite */
}
